body{
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1{
  font-family: sans-serif;
  font-size: 46px;
  text-align: center;
  margin: 10px 0 10px 0;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.mainContainer{
  border: 6px solid black;
}

.imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImg{
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.contentContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.timeline{
  margin-top:10px;
  border: 1px solid black;
  display:flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.timeline p{
  margin-left: 10px;
  margin-right: 10px;
}

.timeline:hover{
  font-size: 20px;
}

.timelineImg{
  max-width: 40%;
  height: 200px;
  /*margin-right: 10px;*/
}

@media (min-width: 800px) {
body{
  background-color: #FFFFCC;
}

.pull-right{
  flex-direction: row-reverse;
}

.mainContainer{
  /*border: 1px solid black;*/
  border: 6px ridge white;
  width: 90%;
  background-color: white;
}

}
